.footer-text {
    text-align: left;
    margin: 0;
    margin-left: 5%;
}
.footer {
    padding: 35px 0;
}
.footer-container {
    /* position: relative;
    top: 170px; */
    border-top: 1px solid #414a5a;
    padding: 40px;
    width: 100%;
}