.footer-text {
    text-align: left;
    margin: 0;
    margin-left: 5%;
}
.footer {
    padding: 35px 0;
}
.footer-container {
    /* position: relative;
    top: 170px; */
    border-top: 1px solid #414a5a;
    padding: 40px;
    width: 100%;
}
@media screen and (max-width:768px) {
    .footer{
        padding: 0px;
    }
    .footer-container{
        padding: 0px;
    }
    .footer-text{
        padding: 10px;
    }
    
}