.card-container {
    /* width: 30%; */
    display: flex
;
/* position: relative; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 20px;
    border: 1px solid #414a5a;
    background: linear-gradient(45deg, rgb(20, 27, 42) 0%, rgb(14, 20, 30) 100%);
    /* opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
    transition-delay: 2s; */

}
.card-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-text {
    text-align: center;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    padding: 30px 30px 50px 30px;
    margin: 0;
}
.card-link {

    position: absolute;
    right: 20px;
    bottom: 20px;
}
.grid-container {
   
        display: grid
    ;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
    
}
.card-container.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
.card-container.hidden {
    opacity: 0;
    transform: translateX(-100%);
  }