body {
    background-color: #111723;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}